<div class="container">
  <div>
    <span class="title">NGX IMAGE ZOOM</span>
    <!--  // https://www.npmjs.com/package/ngx-image-zoom-->
    <lib-ngx-image-zoom
      [thumbImage]="myThumbnail"
      [fullImage]=pathFile
      [zoomMode]="'toggle-click'"
      [magnification]="2"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="600"
      [lensHeight]="200"
    ></lib-ngx-image-zoom>
  </div>

  <div>
    <span class="title">RED ZOOM</span>
<!--    https://scompiler.github.io/red-zoom-angular/-->
    <div>
      <img
        [src]="pathFile"
        [redZoom]="pathFile"
        redZoomClass="red-zoom--style--overlay"
        redZoomBehavior="click"
      >
    </div>
  </div>

</div>
